In [46]:
import pandas as pd
import numpy as np

census = pd.read_excel('input_census.xlsx', engine='openpyxl')
done = pd.read_csv('output_census_and_party.csv')


done.sample(50)

     Unnamed: 0        date           state       count       party
218         218  2014-01-01         Georgia  10067278.0         NaN
300         300  2015-01-01  South Carolina   4891938.0         NaN
712         712  2008-01-01      Washington         NaN    DEMOCRAT
401         401  2017-01-01          Oregon   4143625.0         NaN
444         444  2018-01-01          Nevada   3027341.0         NaN
494         494  2019-01-01         Montana   1068778.0         NaN
449         449  2018-01-01  North Carolina  10381615.0         NaN
215         215  2014-01-01        Delaware    932487.0         NaN
546         546  2008-01-01     Connecticut         NaN    DEMOCRAT
438         438  2018-01-01        Michigan   9984072.0         NaN
358         358  2016-01-01        Virginia   8410106.0    DEMOCRAT
227         227  2014-01-01           Maine   1330513.0         NaN
504         504  2019-01-01        Oklahoma   3956971.0         NaN
86           86  2011-01-01    North Dakota    685225.0         NaN
266         266  2015-01-01     Connecticut   3587122.0         NaN
141         141  2012-01-01          Oregon   3899001.0    DEMOCRAT
21           21  2010-01-01   Massachusetts   6566307.0         NaN
158         158  2013-01-01         Arizona   6632764.0         NaN
669         669  2020-01-01        Oklahoma         NaN  REPUBLICAN
229         229  2014-01-01   Massachusetts   6762596.0         NaN
248         248  2014-01-01  South Carolina   4823617.0         NaN
78           78  2011-01-01         Montana    997316.0         NaN
329         329  2016-01-01        Kentucky   4438182.0  REPUBLICAN
619         619  2004-01-01     Mississippi         NaN  REPUBLICAN
365         365  2017-01-01          Alaska    739700.0         NaN
254         254  2014-01-01        Virginia   8310993.0         NaN
267         267  2015-01-01        Delaware    941252.0         NaN
529         529  2004-01-01         Arizona         NaN  REPUBLICAN
136         136  2012-01-01        New York  19572932.0    DEMOCRAT
117         117  2012-01-01        Illinois  12882510.0    DEMOCRAT
348         348  2016-01-01        Oklahoma   3926331.0  REPUBLICAN
258         258  2014-01-01         Wyoming    582531.0         NaN
353         353  2016-01-01    South Dakota    862996.0  REPUBLICAN
146         146  2012-01-01       Tennessee   6453898.0  REPUBLICAN
398         398  2017-01-01    North Dakota    754942.0         NaN
148         148  2012-01-01            Utah   2853375.0  REPUBLICAN
179         179  2013-01-01       Minnesota   5413479.0         NaN
576         576  2008-01-01        Illinois         NaN    DEMOCRAT
644         644  2008-01-01      New Jersey         NaN    DEMOCRAT
670         670  2000-01-01          Oregon         NaN    DEMOCRAT
262         262  2015-01-01         Arizona   6829676.0         NaN
539         539  2020-01-01      California         NaN    DEMOCRAT
404         404  2017-01-01  South Carolina   5021268.0         NaN
192         192  2013-01-01        Oklahoma   3853214.0         NaN
277         277  2015-01-01        Kentucky   4425976.0         NaN
325         325  2016-01-01        Illinois  12820527.0    DEMOCRAT
520         520  2000-01-01         Alabama         NaN  REPUBLICAN
496         496  2019-01-01          Nevada   3080156.0         NaN
533         533  2004-01-01        Arkansas         NaN  REPUBLICAN
407         407  2017-01-01           Texas  28295273.0         NaN

In [38]:
census.head(200)

new_headers = census.iloc[2]

census = census[3:].reset_index(drop=True)
census.columns = new_headers
census = census.rename_axis(None, axis=1)

census.head(5)

,NaN,Census,Estimates Base,2010,2011.0,2012.0,2013.0,2014.0,2015.0,2016.0,2017.0,2018.0,2019.0
0,United States,308745538,308758105,309321666,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
1,Northeast,55317240,55318443,55380134,55604223.0,55775216.0,55901806.0,56006011.0,56034684.0,56042330.0,56059240.0,56046620.0,55982803.0
2,Midwest,66927001,66929725,66974416,67157800.0,67336743.0,67560379.0,67745167.0,67860583.0,67987540.0,68126781.0,68236628.0,68329004.0
3,South,114555744,114563030,114866680,116006522.0,117241208.0,118364400.0,119624037.0,120997341.0,122351760.0,123542189.0,124569433.0,125580448.0
4,West,71945553,71946907,72100436,72788329.0,73477823.0,74167130.0,74925793.0,75742555.0,76559681.0,77257329.0,77834820.0,78347268.0

In [39]:
census.rename(columns={np.nan: 'state'}, inplace=True)

census.columns = [x.lower().replace(" ", "_") if type(x) == str else int(x) for x in census.columns]
census['state'] = census['state'].apply(lambda x: str(x).replace(".", ""))
census.drop(['census', 'estimates_base'], axis=1, inplace=True)
census.head(10)

,state,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,United States,309321666,311556874.0,313830990.0,315993715.0,318301008.0,320635163.0,322941311.0,324985539.0,326687501.0,328239523.0
1,Northeast,55380134,55604223.0,55775216.0,55901806.0,56006011.0,56034684.0,56042330.0,56059240.0,56046620.0,55982803.0
2,Midwest,66974416,67157800.0,67336743.0,67560379.0,67745167.0,67860583.0,67987540.0,68126781.0,68236628.0,68329004.0
3,South,114866680,116006522.0,117241208.0,118364400.0,119624037.0,120997341.0,122351760.0,123542189.0,124569433.0,125580448.0
4,West,72100436,72788329.0,73477823.0,74167130.0,74925793.0,75742555.0,76559681.0,77257329.0,77834820.0,78347268.0
5,Alabama,4785437,4799069.0,4815588.0,4830081.0,4841799.0,4852347.0,4863525.0,4874486.0,4887681.0,4903185.0
6,Alaska,713910,722128.0,730443.0,737068.0,736283.0,737498.0,741456.0,739700.0,735139.0,731545.0
7,Arizona,6407172,6472643.0,6554978.0,6632764.0,6730413.0,6829676.0,6941072.0,7044008.0,7158024.0,7278717.0
8,Arkansas,2921964,2940667.0,2952164.0,2959400.0,2967392.0,2978048.0,2989918.0,3001345.0,3009733.0,3017804.0
9,California,37319502,37638369.0,37948800.0,38260787.0,38596972.0,38918045.0,39167117.0,39358497.0,39461588.0,39512223.0

In [44]:
states_list = ['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico']


census['state'].unique(
)

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Hawaii', 'Idaho', 'Illinois', 'Indiana',
       'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine', 'Maryland',
       'Massachusetts', 'Michigan', 'Minnesota', 'Mississippi',
       'Missouri', 'Montana', 'Nebraska', 'Nevada', 'New Hampshire',
       'New Jersey', 'New Mexico', 'New York', 'North Carolina',
       'North Dakota', 'Ohio', 'Oklahoma', 'Oregon', 'Pennsylvania',
       'Rhode Island', 'South Carolina', 'South Dakota', 'Tennessee',
       'Texas', 'Utah', 'Vermont', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming', 'Puerto Rico'],
      dtype=object)